<header>
  <h1 class="alert alert-dark" style="width:500px"><center><%= @merchant.name %></center></h1>
  <%= render partial: "/shared/merc_links", locals: {merchant: @merchant} %><br>
</header>
<center> <%= render "shared/flash" %> </center>
<h1 class="alert alert-info"><center>Bulk Discounts</center> </h1>

<section class="upcoming-holidays">
  <h3>Upcoming Holidays</h3>
    <ul>
      <% @holidays.next_3_public_holidays.each do |holiday| %>
        <li><%= holiday[:name] %>: <%= holiday[:date] %></li>
      <% end %>
    </ul>
</section>

<section class="discounts" style="float:none">
  <% if !@merchant.bulk_discounts.empty? %>
    <table class="table table-striped table-borderless">
      <thead style="text-align:left">
        <tr>
          <th scope="col"><span class="text white_glow">Discount</span></th>
          <th scope="col"><span class="text white_glow">Item Threshold</span></th>
          <th scope="col"><span class="text white_glow">Percent Discount</span></th>
        </tr>
      </thead>
      <tbody>
        <% @merchant.bulk_discounts.each do |discount| %>
          <tr style="text-align:left">
            <div id="discount-<%= discount.id %>">
              <td><%= link_to "#{discount.name}", merchant_bulk_discount_path(@merchant, discount), style: "color:white"%></td>
              <td><%= discount.item_threshold %></td>
              <td><%= number_to_percentage(discount.percent_discount, precision: 0) %></td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3>Currently no active discounts</h3>
  <% end %>
</section>
